@use './reset';
@use './variables';

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background: var(--color-bg-page);
}
