.taskList {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &__empty {
    padding: var(--space-lg);

    border: 1px dashed var(--color-border-primary);
    border-radius: var(--radius-md);
    background: var(--color-bg-page);

    text-align: center;
  }
}
